extends layout

block content
  h1= title
  p Welcome to #{title}

    // Wrapper
    #wrapper
      // Background Video
      .back
        video(controls='', loop='', src='http://lisabronwyn.com/Molecular_Plex_4K_Motion_Background_Loop.mp4', autoplay='', type='video/mp4')
      // Header
      header#header
        .logo
          span
        .content
          .inner
            h1 Dimension
            p
              // [
              | A fully responsive life template designed by 
              a(href='https://www.instagram.com/yesladypheonix/') Envious-Parakeet
              |  and we know you want our feathers
              // ]
              br
              // [
              | for free under the 
              a(href='') Creative Commons
              |  license.
              // ]
        nav
          ul
            li
              a(href='#intro') Intro
            li
              a(href='#work') Blog
            li
              a(href='#about') About
            li
              a(href='#contact') Contact
            // <li><a href="#elements">Elements</a></li>
      // Main
      #main
        // Intro
        article#intro
          h2.major Intro
          span.image.main
            img(src='images/blade-runner.jpg', alt='')
          p
            | Our work explores the relationship between Pre-raphaelite tenets and copycat violence.
          p
            | With influences as diverse as Caravaggio and Roy Lichtenstein, new insights are distilled from both orderly and random dialogues.
          p
            | We have been fascinated by the unrelenting divergence of the universe. What starts out as vision soon becomes corroded into a manifesto of defeat, leaving only a sense of dread and the unlikelihood of a new reality.
            | As wavering forms become reconfigured through diligent and repetitive practice, the viewer is left with a hymn to the darkness of our culture.
        // BLOG
        article#work
          h2.major Blog
          span.image.main
            img(src='images/pic01.jpg', alt='')
          p
            | FEATURED ARTIST:
            strong  Coco Simone
          p I am an artist.
          p
            | I like like PB + J and ham (but not at the same time) sandwiches, the colors pink, red, green, blue, purple, rainbows, Paw Patrol, Rey from Star Wars, Pee Wee's Playhouse, Care Bears, My Little Pony.
        article#work
          h2.major Work
          span.image.main
            img(src='images/Lady PheOnix RS.png', alt='')
          p
            strong Lady PheOnix
          p “I was born out of an infinite blackness."
        article#work
          h2.major Work
          span.image.main
            img(src='You-Are-My-Sunshine-2015.jpg', alt='')
          p
            strong Wangechi Mutu
          p “I was born out of an infinite blackness."
        article#work
          h2.major Work
          span.image.main
            img(src='images/GarantFloat.jpg', alt='')
          p
            strong Lisa Bronwyn
          p
            | "We can't all be stars because someone has to sit on the curb and clap as I go by.”
        // About
        article#about
          h2.major About
          span.image.main
            img(src='img/full-slide/thumb-3.jpg', alt='')
          p
            | What began as a personal journey of Cuntism has translated into images of sushi and legs that resonates with purple people to question their own interests.
          p
            | Our mixed media place embodies an idiosyncratic view of Dalai Lama, yet the familiar imagery allows for a connection between David Bowie, umbrellas and crackers.
          |             Our work is in the private collection of Little Richard who said 'Yay!!, that's some real loving art. Woooooooooooooo.'
          |             We are recipients of a grant from Alcatraz after serving time for stealing mugs from the gift shop of The Tate.
          p
          p
            | Group shows include exhibitions at Long John Silver's and The Yes Universe, though not at the same time. Our collective equally spends time between our bedrooms and Berlin.
        // Contact
        article#contact
          h2.major Contact
          form(method='post', action='#')
            .field.half.first
              label(for='name') Name
              input#name(type='text', name='name')
            .field.half
              label(for='email') Email
              input#email(type='text', name='email')
            .field
              label(for='message') Message
              textarea#message(name='message', rows='4')
            ul.actions
              li
                input.special(type='submit', value='Send Message')
              li
                input(type='reset', value='Reset')
          ul.icons
            li
              a.icon.fa-twitter(href='#')
                span.label Twitter
            li
              a.icon.fa-facebook(href='#')
                span.label Facebook
            li
              a.icon.fa-instagram(href='#')
                span.label Instagram
            li
              a.icon.fa-github(href='#')
                span.label GitHub
        // Elements
        article#elements
          h2.major Elements
          section
            h3.major Text
            p
              | This is 
              b bold
              |  and this is 
              strong strong
              | . This is 
              i italic
              |  and this is 
              em emphasized
              | .
              |                   This is 
              sup superscript
              |  text and this is 
              sub subscript
              |  text.
              |                   This is 
              u underlined
              |  and this is code: 
              code for (;;) { ... }
              | . Finally, 
              a(href='#') this is a link
              | .
            hr
            h2 Heading Level 2
            h3 Heading Level 3
            h4 Heading Level 4
            h5 Heading Level 5
            h6 Heading Level 6
            hr
            h4 Blockquote
            blockquote
              | Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan faucibus. Vestibulum ante ipsum primis in faucibus lorem ipsum dolor sit amet nullam adipiscing eu felis.
            h4 Preformatted
            pre.
          section
            h3.major Lists
            h4 Unordered
            ul
              li Dolor pulvinar etiam.
              li Sagittis adipiscing.
              li Felis enim feugiat.
            h4 Alternate
            ul.alt
              li Dolor pulvinar etiam.
              li Sagittis adipiscing.
              li Felis enim feugiat.
            h4 Ordered
            ol
              li Dolor pulvinar etiam.
              li Etiam vel felis viverra.
              li Felis enim feugiat.
              li Dolor pulvinar etiam.
              li Etiam vel felis lorem.
              li Felis enim et feugiat.
            h4 Icons
            ul.icons
              li
                a.icon.fa-twitter(href='#')
                  span.label Twitter
              li
                a.icon.fa-facebook(href='#')
                  span.label Facebook
              li
                a.icon.fa-instagram(href='#')
                  span.label Instagram
              li
                a.icon.fa-github(href='#')
                  span.label Github
            h4 Actions
            ul.actions
              li
                a.button.special(href='#') Default
              li
                a.button(href='#') Default
            ul.actions.vertical
              li
                a.button.special(href='#') Default
              li
                a.button(href='#') Default
          section
            h3.major Table
            h4 Default
            .table-wrapper
              table
                thead
                  tr
                    th Name
                    th Description
                    th Price
                tbody
                  tr
                    td Item One
                    td Ante turpis integer aliquet porttitor.
                    td 29.99
                  tr
                    td Item Two
                    td Vis ac commodo adipiscing arcu aliquet.
                    td 19.99
                  tr
                    td Item Three
                    td  Morbi faucibus arcu accumsan lorem.
                    td 29.99
                  tr
                    td Item Four
                    td Vitae integer tempus condimentum.
                    td 19.99
                  tr
                    td Item Five
                    td Ante turpis integer aliquet porttitor.
                    td 29.99
                tfoot
                  tr
                    td(colspan='2')
                    td 100.00
            h4 Alternate
            .table-wrapper
              table.alt
                thead
                  tr
                    th Name
                    th Description
                    th Price
                tbody
                  tr
                    td Item One
                    td Ante turpis integer aliquet porttitor.
                    td 29.99
                  tr
                    td Item Two
                    td Vis ac commodo adipiscing arcu aliquet.
                    td 19.99
                  tr
                    td Item Three
                    td  Morbi faucibus arcu accumsan lorem.
                    td 29.99
                  tr
                    td Item Four
                    td Vitae integer tempus condimentum.
                    td 19.99
                  tr
                    td Item Five
                    td Ante turpis integer aliquet porttitor.
                    td 29.99
                tfoot
                  tr
                    td(colspan='2')
                    td 100.00
          section
            h3.major Buttons
            ul.actions
              li
                a.button.special(href='#') Special
              li
                a.button(href='#') Default
            ul.actions
              li
                a.button(href='#') Default
              li
                a.button.small(href='#') Small
            ul.actions
              li
                a.button.special.icon.fa-download(href='#') Icon
              li
                a.button.icon.fa-download(href='#') Icon
            ul.actions
              li
                span.button.special.disabled Disabled
              li
                span.button.disabled Disabled
          section
            h3.major Form
            form(method='post', action='#')
              .field.half.first
                label(for='demo-name') Name
                input#demo-name(type='text', name='demo-name', value='', placeholder='THE YES UNIVERSE')
              .field.half
                label(for='demo-email') Email
                input#demo-email(type='email', name='demo-email', value='', placeholder='theyesuniverse@gmail.com')
              .field
                label(for='demo-category') Category
                .select-wrapper
                  select#demo-category(name='demo-category')
                    option(value='') -
                    option(value='1') Manufacturing
                    option(value='1') Shipping
                    option(value='1') Administration
                    option(value='1') Human Resources
              .field.half.first
                input#demo-priority-low(type='radio', name='demo-priority', checked='')
                label(for='demo-priority-low') Low
              .field.half
                input#demo-priority-high(type='radio', name='demo-priority')
                label(for='demo-priority-high') High
              .field.half.first
                input#demo-copy(type='checkbox', name='demo-copy')
                label(for='demo-copy') Email me a copy
              .field.half
                input#demo-human(type='checkbox', name='demo-human', checked='')
                label(for='demo-human') Not a robot
              .field
                label(for='demo-message') Message
                textarea#demo-message(name='demo-message', placeholder='Enter THE YES UNIVERSE', rows='6')
              ul.actions
                li
                  input.special(type='submit', value='Send Message')
                li
                  input(type='reset', value='Reset')
      // Footer
      footer#footer
        p.copyright
          | © Design: 
          a(href='https://www.instagram.com/yesladypheonix/') YOU CANT TOUCH THESE FEATHERS
          | .
    // BG
    #bg
    // Scripts
    script(src='javascripts/jquery.min.js')
    script(src='javascripts/skel.min.js')
    script(src='javascripts/util.js')
    script(src='javascripts/main.js')
    script(src='javascripts/favicorn.js')

